@page
@model EfficientWorker.Pages.Worker.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    @foreach (var item in Model.Workers)
    {
        <a asp-page="./WorkerProj/Create" asp-route-id="@item.ID">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ProjectCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workers)
        {
            @foreach(var proj in item.Projects)
            { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => proj.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => proj.ProjectCost)
            </td>
            <td>
                <a asp-page="./WorkerProj/Edit" asp-route-id="@item.ID" asp-route-projid="@proj.ProjectID">Edit</a> |
                <a asp-page="./WorkerProj/Delete" asp-route-id="@item.ID" asp-route-projid="@proj.ProjectID">Delete</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
